@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap");
html, body{
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(90.15deg, #FFB03A 0%, #FF3A3A 100%);
    text-align: center;
}
.fancy-color{
    background: linear-gradient(90.15deg, #FFB03A 0%, #FF3A3A 100%) !important;
}
h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    padding: 15px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
a {
    text-decoration: none !important;
    color: black;
}
main {
    display: block;
}

@media only screen and (min-width: 1024px) {
    main {
        display: flex;
    }
}
p {
    line-height: 8px;
    white-space: nowrap;
}
.full-width {
    width: -moz-available;
    width: -webkit-fill-available;
}