@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap");

html, body {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90.15deg, #FFB03A 0%, #FF3A3A 100%);
    text-align: center;
}

.fancy-color {
    background: linear-gradient(90.15deg, #FFB03A 0%, #FF3A3A 100%) !important;
}

h1 {
    color: #e0e0e0;
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 32px;
    padding: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none !important;
    color: black;
}

main {
    display: block;
}

@media only screen and (min-width: 1200px) {
    main {
        display: flex;
    }
}

.full-width {
    width: -moz-available;
    width: -webkit-fill-available;
}

.picture {
    transition: transform 250ms;
    height: 200px;
    width: 250px;
}

.picture:hover {
    width: 400px;
}
